html, body {
  height: 100%;
}

.container {
  /* Step 1: Set display to grid */
  display: grid;
  /* Step 2: setup rows amd columns */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: auto;
  grid-template-rows: 80px auto 30px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
  border: 2px solid yellow;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 20px;
  justify-items: center;
  justify-content: center;
  align-items: flex-start;
  grid-area: main;
}
.box {
  border: 1px solid red;
}

/* Assign grid area below */
.header {
  grid-area: hd;
  background-color: cadetblue;
}
.footer {
  grid-area: ft;
  background-color: blueviolet;
}

.card {
  margin: 1.5%;
  text-align: center;
  background: white;
  border: 1px solid black;
}

img {
  width: 100%;
}
