.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
  justify-content: center;
  align-items: flex-start;
  grid-area: main;
  background-color: chartreuse;
}

.card {
  margin: 1.5%;
  text-align: center;
  background: white;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  vertical-align: middle;
}

.card img {
  width: 100%;
  height: 60%;
  margin-bottom: 5px;
}

.card h2 {
font-size: 18px;
  vertical-align: middle;
  display: inline;
  padding: 20px 2px 0 2px;
}
