.post {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-rows: auto auto;
  grid-area: main;
}

.post-head {
  display: flex;
  justify-content: start;
  background-color: rgb(231, 231, 83);
}

.avatar {
  height: 100px;
  width: 100px;
  padding: 20px;
}

.share {
  height: 40px;
  width: 40px;
  padding: 20px;
  text-align: left;
}

.post-body {
  text-align: center;
  background-color: yellow;
  padding: 10px;
}

.post-body img {
  margin-bottom: 5px;
}

.post-body p {
  text-align: left;
}

.post-info h3 {
  font-size: 16px;
}
