.post {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-rows: 150px auto;
  grid-area: main;
}

.post-head {
  display: flex;
  justify-content: start;
  background-color: hotpink;
}

.post-head img{
    height: 100%;
    width: auto;
    
    }
.post-body {
  text-align: center;
  background-color: yellow;
  padding: 20px;
}

.post-body img {
  margin-bottom: 5px;
}

.post-body p {
    text-align: left;
   
}

